:root {
    --groen: #347172;
    --oranje: #D09482;
    --donkergroen: #1B4243;

    --animationSpeed: 20s;
    --paddingsides: 0 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans";

}

body {
    line-height: 1.4;
    font-size: 16px;
    background: #FAF9F6;
    /* padding: 0 15px; */
}

.hero {
    background-image: url("../assets/hero-bg.jpg");
    padding-top: 65px;
    padding-bottom: 130px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero h1,
.hero p {
    color: white;
}

h2,
h3 {
    color: var(--donkergroen);
}

h1,
h3 {
    font-family: Inter;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--groen);
}

p {
    font-weight: 300;
}

.subtitle {
    border: 1px solid var(--oranje);
    display: inline-block;
    padding: 12px;
    color: var(--oranje);
    border-radius: 10px;
}


header {
    background: white;
}


.featured-half-01,
.home-nieuws,
.featured-half-02 {
    padding: var(--paddingsides);
    margin-top: 60px;
    ;
}


/* BEGIN LOGO'S */
.logo-secundair {
    width: 50px;
}

.logo-primair {
    display: none;
}

.logo-secundair {
    display: block;
}

/* EINDE LOGO'S */

/* BEGIN BUTTONS */
.btn-primair {
    background-color: var(--groen);
    color: white;
    padding: 8px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    border-radius: 7px;
    font-size: 14px;
    width: fit-content;
}

.btn-primair-small {
    background-color: var(--groen);
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    border-radius: 7px;
    font-size: 12px;
}

.btn-tertiair {
    margin: auto;

    a {
        color: var(--donkergroen);
        text-decoration: none;
        font-weight: 600;
    }
}

.btn-tertiair:after {
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    display: inline-block;
    padding-left: 15px;
}

/* EINDE BUTTONS */

.featured-half-img {
    height: 200px;
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}

.home-nieuws h2 {
    text-align: center;
}

.nieuws-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
}

.nieuws-card {
    background: white;
    width: 100%;
    position: relative;
    border-radius: 15px;

    p {
        color: #484848;
    }

    h3 {
        margin-bottom: 10px;
    }
}

.nieuws-card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.nieuws-card .panel {
    padding: 5%;
    border-radius: 15px;
}

.btn-primair-small,
.nieuws-datum {
    position: absolute;
    bottom: 5%;
}

.btn-primair-small {
    left: 5%;
}

.nieuws-datum {
    right: 5%;
}

div.accordion {
    /* position: relative; */
    /* margin: 2em; */
}

.accordion input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: 0;
}

.accordion .acc-title {
    background: var(--groen);
    color: white;
    padding: 1em;
    position: relative;
    border-radius: 15px 15px 0 0;
}


/* Accordion open */
.accordion label::before {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
}

.accordion label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.accordion div.acc-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: white;
}

.accordion div.acc-content p {
    padding: 2em;
}

/* Accordion dicht */
.accordion input:checked~.acc-title label::before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
}

.accordion input:checked~.acc-title~div.acc-content {
    max-height: 100vh;
    border-radius: 0 0 15px 15px;
}

.accordion a {
    color: var(--groen);
}


/* SLIDER */
.slider {
    height: 210px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track {
    animation: scroll var(--animationSpeed) linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

footer {
    display: flex;
    flex-direction: column;
    background: var(--groen);
    padding: 60px 15px;
    gap: 45px;

    h4 {
        font-family: Inter;
        font-weight: 600;
        font-size: 18px;
        color: white;
        margin-bottom: 7px;
    }
}

footer ul {
    padding-left: 1.5em;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: 00;
}

footer .footer-col-01 p {
    display: flex;
    align-content: center;
}

footer .footer-col-01 p::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0e0";
    padding-right: 10px;
    color: white;
    font-size: 18px;
}

footer .menu li {
    list-style: none;
    margin-bottom: 3px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}


@media (min-width: 768px) {
    .logo-primair {
        display: block;
    }

    .logo-secundair {
        display: none;
    }

    .nieuws-card {
        width: 30%;
    }
}